
body{
    text-decoration: none;
    font-family: Roboto, sans-serif;
}



/*Mobile Nav*/

/* Impostazioni per le icone */
.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: black;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons-outlined{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: black;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.b-button{
    font-size: 1rem;
    display: block;
    padding-bottom: 10px;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    align-items: center;
}

.b-button p{
    text-align: center;
    color: black;
    margin-bottom: 0;
}

.btn-secondary a:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.btn-secondary a:active{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
   
}

.footer{
    border-top: 1px solid transparent;
}

.d-button{
   background-color: rgba(255, 0, 0, 0);
   color: black;
   border: none;
}

.tablet-bottombar, .mobile-bottombar{
    background-color: rgb(240, 240, 240);  
}


h1{
    font-size: 3rem;
    padding-top: 20px;
}

.navbar-toggler-icon{
    color: black;
}

.navbar-toggler{
    border: 0;
}

/* Carosello */
.mycarousel{
    align-items: center;
}

/* Indicatori Carosello */
.carousel-indicators{
    display: flex;
    justify-content: space-between;
}

.carousel-indicators li {
    width: auto;
    height: auto;
    text-indent: 0;
    border: none;
    line-height: 30px;
    color: black;
    background-color: rgba(153, 153, 153, 0);
    transition: all 0.25s ease;
}

.carousel-indicators li:hover {
    background-color: #3379b700; 
    color: rgb(23, 23, 23);
}

.carousel-indicators li.active {
    background-color: #3379b700; 
    font-weight: 500;
    color: black;
}

.myindicator{
    font-size: 1rem;
}

/* Serve per annullare l'evento del separatore all'interno del carosello */
.myseparator{
    pointer-events: none;
}

/* Controlli avanti e indietro  */
.mycontrol{
    color: rgba(0, 0, 0, 0.372);
}
.mycontrol:hover{
    color: rgba(0, 0, 0, 0.598);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.221);
}

.mycontrol:active{
    color: rgba(0, 0, 0, 0.598);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.221);
}


/* Carosello Mobile */
.carousel-caption{
    color: black;

}

